WindowsFormsApplication1/WindowsFormsApplication1/xml/windowsbuildnumbers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="article">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="informaltable">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tgroup">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tbody">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="row">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="entry">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="para" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="cols" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="frame" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="para" />
      </xs:sequence>
      <xs:attribute name="lang" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>